@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}


header{
    background:rgba(31, 31, 32, 0.957);
    font-size: 25px;
    padding-top: 50px;
    word-spacing: 15px;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 2.813rem;
    padding-bottom: 1.6rem;
}



.menu-cabecalho{
    color: aliceblue;
    text-align: center;
    margin-right: 980px;

}

.borda {
    border: 1px;
}

a{
    color: inherit;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
} 


.img-1 { 
    text-align: center;
    padding: 20px;
}

.conteudo-cabecalho-2 {
    padding: 40px;
    width: 20;
    text-align: center;
    
    background: rgb(19, 18, 18);
    color: aliceblue;
}

.conteudo-princial-escrito {
    text-align: center;
}


.conteudo-principal-inicio {
    text-align: left;
    margin-left: 600px;
    font-size: 25px;
    margin-right: 600px;
}

p {
    margin-top: 20px;
}

h4 {
    margin-top: 20px;
}

h2{
    margin-top: 20px;
}

.rodape {
    margin-top: 50px;
    background:black;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.rodape-conteudo {
    color: aliceblue;
    font-size: 10px;
    text-align: center;
}


